@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffbcad;
  --color-primary-500: #fe795d;
  --color-primary-600: #ef562f;
  --color-primary-700: #eb4f27;
  --color-primary-800: #cc4522;
  --color-primary-900: #a5371b;
}

@source "../node_modules/flowbite-svelte/dist";


* {
    @apply font-secondary;
}

h1,
h2,
p,
ul,
h3,
div {
    @apply text-[#eeeeee];
}
.background {
    @apply bg-uiDark-800;
}
.page {
    @apply flex flex-col gap-6 rounded-lg bg-uiDark-700 p-4 md:p-8;
}
.box {
    @apply rounded-md bg-uiDark-600 p-4 md:p-6 lg:p-8 2xl:p-10;
}
h1 {
    @apply font-primary text-4xl font-semibold text-white;
}
h2 {
    @apply mb-2 font-primary font-semibold;
}
p,
ul {
    @apply font-secondary font-light;
}

.inputClass{
    @apply placeholder-uiGray-200 inline-flex w-40 max-w-full flex-1 items-center rounded-md border border-transparent bg-uiGray-800 px-4 py-2 text-xs font-semibold tracking-widest text-white transition duration-150 ease-in-out hover:bg-uiGray-700 focus:bg-uiGray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 active:bg-uiGray-900 dark:bg-uiDark-800 dark:text-uiGray-50 dark:hover:bg-uiDark-700 dark:focus:bg-uiDark-700 dark:focus:ring-offset-uiGray-800 dark:active:bg-uiGray-700 
}